*{
    margin: 0;
    box-sizing: border-box;
    box-sizing: content-box;
    font-size:x-large;
}
header {
    height: 15vh;
    background-color: #f2f2f2;
  }
h1 {
    padding: 1em;
  }
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: #f2f2f2;
  }
  a {
    margin: 0 70px;
  }

main{
      display: flex;
      justify-content: space-between;
      height: auto;
}
.left{
    width: 20%;
    background-color: gray;
}
.center {
    width: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 94vh;
}
.right{
    width: 20%;
    height: 60vh;
    /* background-color: gray; */

}
footer{
    display: flex;
    height: 6vh;
    background-color: #000;
    color: white;

}
.center article{
    border: solid 4px blue;
}

.right article{
    background-color: gray;
}

@media  (max-width:720px) {
    main{
        display: flex;
        justify-content:flex-start;
        flex-direction: column;
        height: auto;
        width: 100vw;

    }
    section, article, .center, .left, .right, nav {
        width: 100vw;
        height: auto;
        margin: 0;
    }
    h1{
        padding: 0;
    }
    nav{
        justify-content: center;
        flex-direction: column;

    }
    header {
        height: auto;
        text-align: center;
    }
    .center {
        width: auto;
        display: flex;
        flex-direction: column;
        height: auto;
    }
    


}